* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 
  background-color: rgb(32, 31, 31);
  color: white;
}

a {
  text-decoration: none;
  color: rgb(24, 238, 138);
  transition: 0.5s;
}

a:hover {
  color: rgb(25, 156, 95);
}



